<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{ metadata }}
  {% if page._op_canonicalUrl %}<link href="{{ page._op_canonicalUrl }}" rel="canonical">{% endif %}
  <title>{{ page.title }}</title>
  {% style css/conceptual.css %}
</head>

<body>
  <header data-component="UXService">
    {% include header.html %}
  </header>
  <div class="container-fuid" ms.pgarea="body">
    <div class="row" id="breadcrumb-bar"></div>
    <div class="row main-body">
      <div class="col-md-2">
        <div id="expandable-tree-control" role="navigation" aria-label="main navigation" ms.cmpgrp="left toc"></div>
        <div class="responsive-toc">TODO: here should be responsive toc component</div>
      </div>

      <div class="col-md-8">
        <div id="main" role="main">
          {{ page._op_rawTitle }}
          <div id="metadata" ms.cmpgrp="page info">
            <a href="{{ page._op_gitContributorInformation.author.profile_url }}" class="avatar" title="{{ page._op_gitContributorInformation.author.display_name }}">
              <span class="author-name" style="background-image: url({{ page._op_gitContributorInformation.author.profile_url }}.png)" alt="{% loc author.name %}"></span>
            </a>
            <div class="info">
              <span class="name"><a href="{{ page._op_gitContributorInformation.author.profile_url }}">{{ page._op_gitContributorInformation.author.display_name}}</a></span>
              <div class="meta">
                <time datetime="" class="date">
                  {{ page._op_gitContributorInformation.update_at }}
                </time>
                <time datetime="" class="reading-time">
                  {% if page._op_wordCount < 200 %}
                  1
                  {% else %}
                  {{ page._op_wordCount | divided_by: 200 }}
                  {% endif %}
                  {% loc min.to.read %}</time>

                    {% if page._op_gitContributorInformation.contributors and page._op_gitContributorInformation.contributors.length > 0 %}
                    <span class="contributors-text">
                                  {% loc contributors %}
                                </span>
                    <ul class="contributors">
                      {% for contributor in page._op_gitContributorInformation.contributors %}
                      <li>
                        <a href="{{ contributor.profile_url }}" title="{{ contributor.display_name }}">
                          <span style="background-image: url({{ contributor.profile_url }}.png)" alt="{{ contributor.display_name }}" class="contributor-avatar">
                                        </span>
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                    {% endif %}

              </div>
            </div>
          </div>
          {{ content }}
          {% if page.product_feedback_displaytext and page.product_feedback_url %}
          <div class="product-feedback">
            <span>{% loc product.feedback %}</span>
            <a href="{{ page.product_feedback_url }}">
                        {{ page.product_feedback_displaytext }}
                      </a>
          </div>
          {% endif %}
        </div>

      </div>
      <div class="col-md-2">
        <aside class="social" role="complementary" ms.cmpgrp="social">
          <ul class="social-actions">
            <li class="select-li">
              <div data-component="BranchSelector"></div>
            </li>
            <li class="edit-li">
              <i class="icon icon-editor"></i>
              <a href="{{ page.content_git_url }}" class="btn-sm btn-default" title="{% loc editdesc %}">
                {% loc edit %}
              </a>
            </li>
            <li class="share-li">
              <i class="icon icon-share"></i>
              <div id="social-sharing" class="share-container" data-component="SocialWidget"></div>
            </li>
          </ul>
        </aside>
        <aside class="toc" role="navigation" aria-label="On page navigation" ms.cmpgrp="intopic toc">
          <h5>{% loc in.this.article %}</h5>
          <div id="inpage-toc">
          </div>
        </aside>
      </div>
    </div>

  </div>
  <div id="open-feedback-container" class="openfeedback-container" role="complementary"></div>
  <div class="container">
    <div id="comments-container" role="form"> </div>
  </div>
  <footer/>
  {% js javascript/conceptual.js %}
</body>

</html>
